<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Pokémon</title>
    <!-- Agregar Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <div class="container mx-auto p-6">
        <h1 class="text-3xl font-bold text-center mb-6">Agregar un nuevo Pokémon</h1>

        <!-- Formulario de agregar Pokémon -->
        <form action="{{ url_for('add_pokemon') }}" method="POST" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium text-gray-700">Nombre</label>
                <input type="text" id="name" name="name" class="w-full p-2 border border-gray-300 rounded-md" required>
            </div>

            <div class="mb-4">
                <label for="type" class="block text-sm font-medium text-gray-700">Tipo</label>
                <input type="text" id="type" name="type" class="w-full p-2 border border-gray-300 rounded-md" required>
            </div>

            <div class="mb-4">
                <label for="height" class="block text-sm font-medium text-gray-700">Altura (en metros)</label>
                <input type="number" step="0.01" id="height" name="height"
                    class="w-full p-2 border border-gray-300 rounded-md" required>
            </div>

            <div class="mb-4">
                <label for="weight" class="block text-sm font-medium text-gray-700">Peso (en kilogramos)</label>
                <input type="number" step="0.01" id="weight" name="weight"
                    class="w-full p-2 border border-gray-300 rounded-md" required>
            </div>

            <div class="mb-4">
                <label for="image" class="block text-sm font-medium text-gray-700">Imagen (Opcional)</label>
                <input type="file" id="image" name="image" class="w-full p-2 border border-gray-300 rounded-md">
            </div>

            <div class="mb-4">
                <button type="submit" class="bg-blue-500 text-white px-6 py-2 rounded-lg">Agregar Pokémon</button>
            </div>
        </form>



        <!-- Volver a la lista -->
        <div class="flex justify-center mt-4">
            <a href="{{ url_for('index') }}"
                class="text-blue-500 hover:underline focus:outline-none focus:ring-2 focus:ring-blue-500">Volver a la
                lista</a>

        </div>
    </div>
</body>

</html>